#body {
    background-color: #fafafa;
}

#workspace {
    left: 0px;
    overflow: auto;
    position: absolute;
    right: 400px;
}

#board {
    background-color: white;
    display: table;
    margin: 0 auto;
}

#toolbar {
    background: white;
    border-radius: 2px;
    margin: 5px 10px 5px 5px;
    padding: 10px;
    position: absolute;
    right: 0;
    width:400px;
    color: #747474;
    font-weight: bold;
    font-size: small;
}

.label {
    margin-right: 10px;
}

button {
    background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(240, 240, 240, 1) 100%);
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    padding: 3px 11px 3px 11px;
    font-weight: bold;
    color: #747474;
}

button:hover {
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
}

button:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
}

button:focus {
    outline: none;
}

input {
    border: 1px solid #ccc;
    padding: 3px 5px;
    color: #747474;
    margin: 3px;
}

#width, #height {
    width: 23px;
    text-align: center;
}
